 <!--<ListView [items]="challenges" (itemTap)="onItemTap($event)">
 <ng-template let-challenge="item" let-i="index">
      <GridLayout rows="40,auto" columns="50,*">
          <Label [text]="i" row="0" col="0" rowSpan="2"></Label>
          <Label [text]="challenge" row="0" col="1"></Label>
          <Label text="Item content row 2" row="1" col="1"></Label>
      </GridLayout>
  </ng-template>
</ListView>-->
<ns-action-bar title="Current Challenge" [showBackButton]="false">
  <ActionItem ios.position="right" android.position="actionBar" nsRouterLink="/challenges/replace" pageTransition="slideLeft">
    <Label text="&#xf0fe;" ios:class="fa" android:class="fa p-5" android:fontSize="24"></Label>
  </ActionItem>
  <ActionItem ios.position="right" android.position="actionBar" nsRouterLink="/challenges/edit" pageTransition="slideLeft">
    <Label text="&#xf044;" ios:class="fa" android:class="fa p-5" android:fontSize="24"></Label>
  </ActionItem>
</ns-action-bar>
<ScrollView>
<FlexboxLayout class="page">
  <StackLayout *ngIf="!currentChallenge">
    <Label text="No challenge found!"></Label>
    <Button class="btn btn-primary" text="Create One!" nsRouterLink="/challenges/replace" pageTransition="slideLeft"></Button>
  </StackLayout>
  <StackLayout *ngIf="currentChallenge">
  <Label
  class="h1 text-center"
  text="Take a walk every day">
</Label>
<Label
class="body text-center"
text="Walk for a least 20 minutes on every day of the week.">
</Label>
</StackLayout>
<GridLayout rows="auto,*,*,*,*,*,*" columns="*,*,*,*,*,*,*" *ngIf="currentChallenge">
  <Label class="text-center weekday-label" width="100% "  *ngFor="let weekday of weekDays; let i = index" [text]="weekday" row="0" [col]="i"></Label>
  <FlexboxLayout class="day" *ngFor="let day of currentChallenge.days; let i = index"
    [row]="getRow(i, day)" [col]="day.dayInWeek" (tap)="onChangeStatus()">
  <Label   [text]="day.dayInMonth"></Label>
</FlexboxLayout>
</GridLayout>
</FlexboxLayout>
</ScrollView>



