.title{
    font-size: 26;
    text-align: center;
    color: purple;
    font-weight: bold;
    margin-top: 10;
}

.input {
    color: purple;
    font-weight: bold;
    border-bottom-color: blueviolet;
    border-bottom-width: 2;
    margin: 5 0;
}
