 <!--<ListView [items]="challenges" (itemTap)="onItemTap($event)">
 <ng-template let-challenge="item" let-i="index">
      <GridLayout rows="40,auto" columns="50,*">
          <Label [text]="i" row="0" col="0" rowSpan="2"></Label>
          <Label [text]="challenge" row="0" col="1"></Label>
          <Label text="Item content row 2" row="1" col="1"></Label>
      </GridLayout>
  </ng-template>
</ListView>-->
<ns-action-bar title="Current Challenge" [showBackButton]="false">
  <ActionItem ios.position="right" android.position="actionBar" nsRouterLink="/challenges/replace" pageTransition="slideLeft">
    <Label text="Replace"></Label>
  </ActionItem>
  <ActionItem ios.position="right" android.position="actionBar" nsRouterLink="/challenges/edit" pageTransition="slideLeft">
    <Label text="Edit"></Label>
  </ActionItem>
</ns-action-bar>
<ScrollView>
<FlexboxLayout class="page">
  <StackLayout>
  <Label
  class="h1 text-center"
  text="Take a walk every day">
</Label>
<Label
class="body text-center"
text="Walk for a least 20 minutes on every day of the week.">
</Label>
</StackLayout>
<GridLayout rows="auto,*,*,*,*,*,*" columns="*,*,*,*,*,*,*">
  <Label class="text-center weekday-label" width="100% "  *ngFor="let weekday of weekDays; let i = index" [text]="weekday" row="0" [col]="i"></Label>
  <FlexboxLayout class="day" *ngFor="let day of days; let i = index"
    [row]="getRow(i, day)" [col]="day.dayinWeek" (tap)="onChangeStatus()">
  <Label   [text]="day.dayinMonth"></Label>
</FlexboxLayout>
</GridLayout>
</FlexboxLayout>
</ScrollView>



