@import "../../../theme/colors";

FlexboxLayout {
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

GridLayout {
    background-image: url("res://antartic");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

